body {
  padding: 0 1em;
  font-family: sans-serif;
}
h1, h2, h3 {
  font-weight: bold;
  margin: 0.8em;
}

h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}

p {
  margin: 1em 0;
}
ul, ol {
  margin-left: 1em;
  padding-left: 2em;
}

.half {
	float: left;
	width: 48%;
	padding: 1%;
	vertical-align: top;
}

a {
  color: #126;
}
a:hover {
  color: #348;
}

nav a {
  text-decoration: none;
}
nav a:before {
  color: black;
  content: " > ";
  text-decoration: none;
}
nav a:first-child:before {
  content: "";
}

#loginInfos {
  float: right;
  text-align: right;
  font-size: 0.8em;
}

#loginInfos .message {
  display: block;
}

form p label {
  display: block;
}

#wrapper {
  width: 700px;
  margin: 10px auto;
}

header {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  display: block;
  text-shadow: 0px 1px 2px black;
  background: #5A6391;
  border: 5px solid #347;
	letter-spacing: 0.1em;
}

header a {
	color: #fff;
	text-decoration: none;
}
header a:hover {
  color: #fff;
}

nav {
	padding: 10px;
	font-size: 1.4em;
	font-family: monospace;
}

footer {
	text-align: center;
	border-top: 2px dashed #aaa;
	color: #aaa;
	padding-top: 5px;
	margin: 10px;
	clear: both;
}

table {
border: medium solid #6495ed;
border-collapse: collapse;
width: 100%;
font-family: monospace;
}
th {
font-weight: bold;
border: thin solid #6495ed;
padding: 5px;
background-color: #D0E3FA;
text-align: center;
}
td {
border: thin solid #6495ed;
padding: 5px;
text-align: center;
background-color: #ffffff;
}

footer {
  font-size: 1em;
}
#content {
  padding: 0;
	margin-bottom: 1em;
}
